node_modules/
dist/
.env
.env.*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
pnpm-lock.yaml
java-server/.idea/
java-server/target/*
java-server/*.class
java-server/lib/
*.log
.vscode/
.opencode/
